body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background: rgb(56, 88, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(56, 88, 255, 1) 8%,
    rgba(7, 3, 55, 1) 92%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(56, 88, 255, 1) 8%,
    rgba(7, 3, 55, 1) 92%
  );
  background: radial-gradient(
    circle,
    rgba(56, 88, 255, 1) 8%,
    rgba(7, 3, 55, 1) 92%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3858ff",endColorstr="#070337",GradientType=1);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.titleContainer {
  display: flex;

  & h1 {
    color: white;
    font-size: 80px;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.3);
  }
}

.titlepic {
  width: 120px;
  height: auto;
  margin: 0px 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(252, 252, 252);
  width: 800px;
  height: 500px;
  border-radius: 15px;
  position: relative;
}

.textBox p {
  margin: 0px 30px;
  font-size: 30px;
}

.buttonContainer {
  display: block;
  width: 250px;
}

.button {
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

.button a {
  background-color: #1a36d5;
  color: white;
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 100%;

  transition: all 0.3s;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button a:hover {
  color: white;
  scale: 1.1;
}

.spinContainer {
  width: 90px;
  height: auto;

  & img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.spinPos1 {
  position: absolute;
  left: 60px;
  bottom: 60px;
  animation: spin 2s infinite;
}

.spinPos2 {
  position: absolute;
  right: 60px;
  bottom: 60px;
  animation: spin 2s reverse infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
