body {
  margin: 0;
  padding: 0;
  background: rgb(56, 88, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(56, 88, 255, 1) 8%,
    rgba(7, 3, 55, 1) 92%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(56, 88, 255, 1) 8%,
    rgba(7, 3, 55, 1) 92%
  );
  background: radial-gradient(
    circle,
    rgba(56, 88, 255, 1) 8%,
    rgba(7, 3, 55, 1) 92%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3858ff",endColorstr="#070337",GradientType=1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.backgroundContainer {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

a {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}

.hiddenContainer {
  position: absolute;
}

.hidden {
  width: 100%;
  height: auto;
}

.cover {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 9998;
  color: white;
  display: flex;
  align-items: center;
  font-size: 80px;
  font-weight: 700;
  display: all;
}

.leftPanel {
  left: 0;
  width: 50%;
  animation: slideLeft 0.5s forwards 3s;
  justify-content: right;
}

.rightPanel {
  right: 0;
  width: 50%;
  animation: slideRight 0.5s forwards 3s;
  justify-content: left;
}

@keyframes slideLeft {
  0% {
    left: 0;
    display: all;
  }
  99% {
    display: all;
  }
  100% {
    left: -50%;
    display: none;
  }
}

@keyframes slideRight {
  0% {
    right: 0;
    display: all;
  }
  99% {
    display: all;
  }
  100% {
    right: -50%;
    display: none;
  }
}

.loadingContainer {
  position: absolute;
  top: 60vh;
  width: 400px;
  height: 50px;
  border: 2px solid white;
  z-index: 9999;

  display: all;
  animation: disappear 3s forwards;
}

.loadingBar {
  width: 0;
  height: 100%;
  background-color: rgb(15, 247, 61);
  animation: loading 3s forwards;
  z-index: 9999;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes disappear {
  0% {
    display: all;
  }
  100% {
    display: none;
  }
}
